
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color:rgb(218, 227, 227);
}

.data-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn-primary{
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
    background-color: #4E47FF;
    padding: 12px 36px;
    border: none;
    border-radius: 5px;
}
.header{
    background-image: url('../image/Hero-bg.png');


}
.logo{
    color: #4E47FF;
    font-size: 34px;
    font-weight: bold;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    padding: 50px;
    align-items: center;
}

.banner-body{
    font-size: 50px;
    color: #252432;
    text-align: center;
    align-items: center;
    margin-bottom: 152px;
}
.banner-body .btn-primary{
    margin-bottom: 152px;
    
}
/* second part-main*/
.action{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 340px;
    margin-left: 150px ;
    
}
.action-h3{
    font-size: 42px;
    color: #252432;
}
.btn-launch{
    font-size: 16px;
    color: aliceblue;
    background-color: #4E47FF;
    padding: 12px 36px;
    border: none;
    border-radius: 5px;
}
.action-p{
    color: #76767c;
}
.action-img{
    width: 400px;
    height: 328px;
    border-radius: 50px;
}
/* data section */ 
.productive-users{
    box-shadow: #76767c;
    border-radius: 24px;
    background-color: #aebfc3;
    margin: 100px 250px;
}
.data-head{
    font-size: 38;
    font-weight: bold;
    text-align: center;
    
    
}
.data-item{
    display: flex;
    gap: 158px;
    justify-content: center;
    padding:0px 0px 30px 30px;
    
}
.data-title{
    color: #4E47FF;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0px ;
    
}
.data-description{
    font-weight: 600;
    color: #76767c;
}
/* users review card section*/

 .reviwer-detail{
    display: flex;
    gap: 5px;
 }
 .review-parent {
    display: flex;
 }
 .get-started{
    background-color: aliceblue;
    border:1px solid white;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px 20px;
}


 .btn-get-start{
    font-size: 12px;
    color: aliceblue;
    background-color: #4E47FF;
    padding: 12px 36px;
    border: none;
    border-radius: 5px;
    text-align: center;
    
 }
 .get-image{
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 50px;
    width: 70%;
    height: 300px;
 }
 .form-section {
  display: flex;
  width: 1140px;
  margin: 70px 150px 14px 150px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  
}
 .form-body {
  flex: 1;
  
}

.form-body form {
  display: flex;
  flex-direction: column;
  
}

.form-body label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-body input,
.form-body textarea {
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

.form-body textarea {
  height: 100px;
}

.form-body button {
  background-color: #4e5bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  
}

 .form-heading {
  flex: 1;
}

.form-heading h2 {
  font-size: 48px;
  font-weight: 800;
  color: #000;
  margin: 0;
  
}